body{
    margin: 0;
    padding: 0;
    background: white;
    box-sizing: border-box;
    background: rgb(253, 247, 248);
}
*{
    font-family: sans-serif;
    box-sizing: border-box;
    color:#424144;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.navbar{
    position: fixed;
    z-index: 999;
    top: 0px;
    left: 0px;
    padding: 0px 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 14px rgba(0,0,0,0.5);
    background: #f3f4f6;
    width:100%;
    height: 6rem;
}
.navbar .head{
    font-size: 2rem;
    font-weight: bold;
    color: #424144;
    /* border-bottom: 3px solid #db0e0e; */
    /* padding: 1px; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6rem;
    background:#ff0844 ;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6rem;
}
.navbar .menu li{
    display: inline-block;
    font-size: 1.3rem;
    font-weight: bold;
    color: #424144;
    margin-left: 30px;
    list-style: none;
}
.navbar .menu li a{
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0,5s;
    color: #424144;
} 
.navbar .menu li:last-child a {
    background: rgba(66, 65, 68,0.3);
    padding: 1rem;
    border-radius: 50%;
}
.navbar .menu li:last-child a i{
    font-size: 1.4rem;
    color: #db0e0e;
}
.navbar .menu li a:hover{
    font-size: 1.4rem;
    border-bottom: 3px solid #db0e0e;
    border: none;
}
.navbar .active{
    border-bottom: 3px solid #db0e0e;
}
#toggle{
    display: none;
    position: absolute;
}
.bar{
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}
.div{
    width: 25px;
    height: 4px;
    background-color: #424144;
    margin: 3px;
    border-radius: 3px;
}
main{
    position: relative;
    top: 6rem;
    bottom: 4rem;
}
.about {
    padding: 0 5%;
    width: 100vw;
    height: 5vh;
    font-size: 2rem;
    font-weight: bold;
    color: #424144;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 6rem;
    background:#ff0844 ;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
}
.wel{
    padding: 0 45% 0 5%;
    line-height: 2rem;
}
.wel h2 {
    font: 1.5rem;
}
.wel h2 span {
    font-size: 1.8rem;
    text-transform: uppercase;
}
.sec {
    padding: 0 45% 0 5%;
    line-height: 2rem;
}
.sec h2{
    font-size: 1.5rem;
}
footer{
    background: #f3f4f6;
    width: 100%;
}
.footer-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 5% 0;
    margin-top: 7rem;
}
.footer-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.div1,.div2,.footer-social{
    line-height: 2rem;
}
.div1 h2{
    font-size: 2rem;
    font-weight: bold;
    color: #424144;
    background:#ff0844 ;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}
.div1 p{
    font-size: 1.1rem;
}
.div2 h2{
    font-size: 2rem;
}
.div2 li,a{
    list-style: none;
    font-size: 1.1rem;
    text-decoration: none;
}
.footer-social h2{
    font-size: 2rem;
}
.footer-social li{
    list-style: none;
    padding: 1.5rem;
    background: rgba(66, 65, 68,0.3);
    display: inline-block;
    margin-left: 2rem;
    border-radius: 50%;
}
.footer-social li i{
    color: blue;
    font-size: 1.5rem;
}

footer .last p{
    text-align: center;
    line-height:10vh;
    font-size: 1.2rem;
}
footer .last p a{
    text-decoration: none;
    color: #db0e0e;
    font-weight: bold;
}



@media screen and (max-width:860px){
    .menu{
        position: fixed;
        margin: 0;
        z-index: -1;
        left: 0;
        right: 0;
        top: -100px;
        bottom:0;
        background: #f3f4f6;;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        transition: all .5s ease-in-out;
    }
    .menu li{
        margin-top: 50px;;
    }
    .menu a{
        font-size: 20px;
        color:#f3f4f6;
    }
    .menu a:hover{
        font-size: 1.4rem;
    }
    #toggle{
        position: absolute;
    }
.bar{
        display: block;
    }  
    nav :checked ~ .menu {
        top: 6rem;
        height: 60vh;
    }
    nav :checked ~ .bar .div:nth-child(1){
        transform: translateY(5px) rotate(225deg);
    }
    nav :checked ~ .bar .div:nth-child(2){
        opacity: 0;
    }
    nav :checked ~ .bar .div:nth-child(3){
        transform: translateY(-10px) rotate(-225deg);
    }
    .footer-div{
        display: block;
    }
}