body{
    margin: 0;
    padding: 0;
    background: white;
    box-sizing: border-box;
    background: rgb(253, 247, 248);
}
*{
    font-family: sans-serif;
    box-sizing: border-box;
    color:#424144;
}
.navbar{
    position: fixed;
    z-index: 999;
    top: 0px;
    left: 0px;
    padding: 20px 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 14px rgba(0,0,0,0.5);
    background: #f3f4f6;
    width:100%;
    height: 5em;
}
.navbar .head{
    font-size: 1.3rem;
    font-weight: bold;
    color: #424144;
    border-bottom: 3px solid #db0e0e;
    padding: 1px;
}
strong{
    color: #db0e0e;
}
.menu{
    display: absolute;
    z-index: 1;
}
.navbar .menu li{
    display: inline-block;
    font-size: 1.3rem;
    font-weight: bold;
    color: #424144;
    margin-left: 30px;
    list-style: none;
}
.navbar .menu li a{
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0,5s;
    color: #424144;
}
.navbar .menu li a:hover{
    font-size: 1.4rem;
    border-bottom: 3px solid #db0e0e;
}
.navbar .active{
    border-bottom: 3px solid #db0e0e;
}
#toggle{
    display: none;
    position: absolute;
}
.bar{
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}
.div{
    width: 25px;
    height: 4px;
    background-color: #424144;
    margin: 3px;
    border-radius: 3px;
}
.sec{
    background-image: url(./img/background.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    border: none;
    padding: 0px 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    line-height: normal;
}
.sec .phead{
    font-size: 2rem;
    line-height: normal;
}
.sec .phead + p{
    margin-top: 0;
    font-size: 1.2rem;
    text-transform: capitalize;
}
.sec div button{
    padding: 7px 15px;
    font-size: 1.2rem;
    margin-top: 2px;
    background-color: #db0e0e;
    border: none;
    color: #f3f4f6;
    box-shadow: 0px 0px 3px rgb(255, 0, 0,0.3);
}
.heading{
    text-align: center;
    margin-top: 4rem;
    text-transform: capitalize;
    font-size: 1.4rem;
}
.content{
    padding: 20px 5%;
}
.products{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
    gap: 20px;
    align-items: center;
}
.products .card{
    height: 350px;
    background: #f3f4f6;
    box-shadow: 0px 0px 14px rgb(41, 39, 39, 0.3);
}
.img img{
    width: 100%;
    height: 180px;
}
.gender{
    text-transform: capitalize;
    font-size: 0.8rem;
    padding: 0px 5%;
    margin: 15px 0;
}
.product-type{
    text-transform: capitalize;
    font-size: 1rem;
    padding: 0px 5%;
    font-weight: bold;
}
.description{
    padding: 0px 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 35px 0;
}
.price{
    text-transform: capitalize;
    font-size: 1rem;
    color: #db0e0e;
    font-weight: bolder;
}
.buy button{
    text-transform: capitalize;
    font-size: 0.8rem;
    color: #db0e0e;
    font-weight: bold;
    border: 2px solid #db0e0e;
    border-radius: 30px;
    padding: 5px 8px;
}
.buy button:hover{
    color: #f3f4f6;
    background: #db0e0e;
    cursor:pointer;
}
footer{
    height: 10vh;
    background: #f3f4f6;
    width: 100vw;
}
footer p{
    text-align: center;
    line-height:10vh;
    font-size: 1.2rem;
}
footer p a{
    text-decoration: none;
    color: #db0e0e;
    font-weight: bold;
}
@media screen and (max-width:860px){
    .menu{
        position: fixed;
        margin: 0;
        z-index: -1;
        left: 0;
        right: 0;
        top: 5em;
        bottom:100%;
        background: #f3f4f6;;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        transition: all .5s ease-in-out;
    }
    .menu li{
        margin-top: 50px;;
    }
    .menu a{
        font-size: 20px;
        color:#f3f4f6;
    }
    .menu a:hover{
        font-size: 1.4rem;
    }
    #toggle{
        position: absolute;
    }
.bar{
        display: block;
    }  
    nav :checked ~ .menu {
        bottom: 0;
    }
    nav :checked ~ .bar .div:nth-child(1){
        transform: translateY(5px) rotate(225deg);
    }
    nav :checked ~ .bar .div:nth-child(2){
        opacity: 0;
    }
    nav :checked ~ .bar .div:nth-child(3){
        transform: translateY(-10px) rotate(-225deg);
    }
    main{
        padding: 50px;
    }
}